html{font-size:16px;}
body{background:#ffffff;font-family:"open_sansregular", arial, sans-serif;font-size:18px;color:#9c9c9d;line-height:initial;min-width:320px;max-width:2560px;margin:0 auto;overflow-x:hidden;}

header{background:#ffffff;height:80px;position:relative;z-index:110;-webkit-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);}
header::after{background:#231f20;position:absolute;top:0;left:50%;bottom:0;right:0;content:"";}
header #logo{margin-top:10px;display:block;float:left;}
header #logo img{width:302px;display:block;}
header #border{position:relative;}
header #menu-button{display:none;}
header #menu{font-family:"open_sanssemibold";color:#231f20;right:0;margin-left:320px;position:absolute;z-index:10;}
header #menu ul{background:#ffffff;list-style:none;float:left;position:relative;z-index:10;}
header #menu ul li{display:inline-block;}
header #menu ul li a{color:#231f20;text-transform:uppercase;text-decoration:none;height:80px;padding:29px 10px 0 10px;display:block;}
header #menu ul li a:hover{color:#9f9f9f;}
header #menu ul li.phone{background:#ffffff;font-family:"open_sansregular", sans-serif;height:80px;padding:29px 20px 0 20px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;-moz-transform:skewX(-10deg);-webkit-transform:skewX(-10deg);-o-transform:skewX(-10deg);-ms-transform:skewX(-10deg);transform:skewX(-10deg);}
header #menu ul li span, header #menu #search .fa{display:block;-moz-transform:skewX(10deg);-webkit-transform:skewX(10deg);-o-transform:skewX(10deg);-ms-transform:skewX(10deg);transform:skewX(10deg);}
header #menu #search{background:#ffffff;height:80px;margin-left:-1px;float:left;position:relative;-moz-transform:skewX(-10deg);-webkit-transform:skewX(-10deg);-o-transform:skewX(-10deg);-ms-transform:skewX(-10deg);transform:skewX(-10deg);}
header #menu #search span{height:80px;background:#ffffff;display:block;position:relative;z-index:10;}
header #menu #search span .fa{cursor:pointer;width:80px;height:80px;font-size:23px;text-align:center;padding-top:28px;}
header #menu #search span .fa:hover, header #menu #search #search-form input[type="submit"]:hover{color:#9f9f9f;}
header #menu #search #search-form{background:#ffffff;width:401px;height:81px;border-top:1px solid #dddddd;display:none;overflow:hidden;position:absolute;top:80px;right:0;-webkit-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);box-shadow:0px 0px 30px 0px rgba(0,0,0,0.3);}
header #menu #search #search-form input{background:#ffffff;width:80%;height:80px;padding:0 20px;border:0 none transparent;float:left;-moz-transform:skewX(10deg);-webkit-transform:skewX(10deg);-o-transform:skewX(10deg);-ms-transform:skewX(10deg);transform:skewX(10deg);}
header #menu #search #search-form input[type="submit"]{width:20%;font-family:FontAwesome;font-size:23px;}
header #menu #white{color:#ffffff;text-transform:uppercase;text-decoration:none;height:80px;padding:29px 0 0 30px;float:left;}
header #menu #white:hover{color:#eeeeee;}

#subpage{background:url(../../images/subpage.png) top center no-repeat;padding:120px 0;}

#slider{background:##b80c0b;height:760px;position:relative;overflow:hidden;}
#slider::before{background:#231f20;width:31.9140625%;position:absolute;z-index:10;top:0;left:0;bottom:0;content:"";}
#slider::after{background:url(../../images/slider.png);width:477px;position:absolute;z-index:10;top:0;left:31.9140625%;bottom:0;content:"";}
#slider .bg{position:absolute;z-index:1;right:0;top:0;left:31.9140625%;bottom:0;background-size:cover;background-position:center center;}
#slider .content{color:#ffffff;position:relative;z-index:20;}
#slider h2{font-family:"open_sanslight_italic", arial;font-size:90px;color:#ffffff;text-transform:uppercase;padding:274px 0 36px 0;}
#slider h2 strong{font-family:"open_sanssemibold_italic", arial;}
#slider h3{font-family:"open_sanslight", arial;font-size:42px;color:#ffffff;}
#slider .button.red:hover{background:#ffffff;color:#b80c0b;border-color:#ffffff;}
#slider #kat{width:100%;position:relative;z-index:20;bottom:0%;z-index:100;padding:5px;}
#slider .slid{width:100%;float:left;position:absolute;top:0;left:0;opacity:0;bottom:0;}
#slider #kat li{cursor:pointer;height:19px;font-size:0;margin:0 3px;display:inline-block;opacity:0.5;}
#slider #kat .test{background:url(../../images/slid-li.png);width:5px;}
#slider #kat .test.active{opacity:1;}
#slider #kat .prev{background:url(../../images/slid-li-prev.png) center left;width:146px;}
#slider #kat .next{background:url(../../images/slid-li-next.png) center right;width:146px;}
#slider #kat li:hover{opacity:1;}
#slider #slider-nav{max-width:1900px;padding:0 8%;margin:0 auto;position:absolute;bottom:41px;}

#scroll{padding:110px 0 80px 0;}

#proc-my{background:url(../../images/proc-my.png) no-repeat center bottom;min-height:640px;text-align:center;position:relative;padding-bottom:60px;}
#proc-my::before{background:url(../../images/proc-my2.png) no-repeat center bottom;position:absolute;top:0;left:0;bottom:0;right:0;content:"";}
#proc-my h3{font-family:"open_sanslight_italic", arial;font-size:40px;color:#8e8e8e;text-align:right;padding:30px 15px;}
#proc-my .rating{background:#ffffff;max-width:790px;min-height:110px;padding:19px 48px 20px 48px;float:right;-webkit-border-radius:55px;-moz-border-radius:55px;border-radius:55px;}
#proc-my .rating img{display:block;}
#proc-my .rating .float-right{margin:6px 0 0 20px;}
#proc-my .button{position:absolute;bottom:-10px;right:17%;}

#sprava{background:url(../../images/sprava.png) center center no-repeat;background-attachment:fixed;background-size:cover;min-height:649px;padding-top:180px;text-align:center;}
#sprava h3{font-family:"open_sanssemibold", arial;font-size:22px;color:#ffffff;}
#sprava h4{color:#ffffff;}
#sprava img{margin:20px 0 10px 0;}

#kdo-jsme{min-height:999px;position:relative;}
#kdo-jsme::before{background:#ffffff;width:80%;position:absolute;z-index:10;top:0;left:-15%;bottom:0;content:"";-moz-transform:skewX(-10deg);-webkit-transform:skewX(-10deg);-o-transform:skewX(-10deg);-ms-transform:skewX(-10deg);transform:skewX(-10deg);}
#kdo-jsme .bg{background:no-repeat center center;background-size:cover;position:absolute;z-index:1;top:0;left:50%;bottom:0;right:0;}
#kdo-jsme .content{width:50%;margin:0;position:relative;z-index:20;}
#kdo-jsme h3{color:#231f20;padding:70px 0;}

#kontakt{min-height:446px;position:relative;}
#kontakt::before{background:#ffffff;width:80%;position:absolute;z-index:10;top:0;right:-15%;bottom:0;content:"";-moz-transform:skewX(-10deg);-webkit-transform:skewX(-10deg);-o-transform:skewX(-10deg);-ms-transform:skewX(-10deg);transform:skewX(-10deg);}
#kontakt .content{width:50%;padding-top:70px;margin:0;float:right;position:relative;z-index:20;}
#kontakt .bg{background:no-repeat center center;background-size:cover;position:absolute;z-index:1;top:0;left:0;bottom:0;right:62%;}

footer{background:#231f20;padding:30px;}
footer .button{margin-top:0;margin-bottom:0;float:left;}
footer ul{list-style:none;float:left;}
footer ul li{display:inline-block;}
footer .fa{font-size:28px;color:#b80c0b;padding:5px 14px;-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-ms-transition:all 0.5s linear;-o-transition:all 0.5s linear;transition:all 0.5s linear;}
footer .fa:hover{color:#ffffff;}
footer #copyright{font-size:14px;float:right;padding-top:21px;}
footer #copyright img{margin-left:25px;}
footer #social{margin-top:12px;}
footer #contact{margin:18px 0 0 90px;}
footer #contact li{display:inline-block;}
footer #contact li::after{content:"/";margin:0 20px;}
footer #contact li:last-of-type::after{content:"";}
footer .white{color:#ffffff;}

.no-js #loader{display:none;}
.js #loader{display:block;position:absolute;top:0;left:100px;}
.se-pre-con{background:#ffffff;width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:9999;}
#preloader{width:100%;text-align:center;margin-top:-60px;position:absolute;top:50%;}
.spinner {width:70px;margin:26px auto 0 auto;text-align:center;}
.spinner > div{background-color:#b80c0b;width:18px;height:18px;border-radius: 100%;display:inline-block;-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;animation:sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1{-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
.spinner .bounce2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}
.animated{opacity:0;-webkit-transition:all 1.5s linear;-moz-transition:all 1.5s linear;-ms-transition:all 1.5s linear;-o-transition:all 1.5s linear;transition:all 1.5s linear;}
.animated.animate{opacity:1;}
.scroll-btn{display:block;position:absolute;left:0;right:0;text-align:center;}
.scroll-btn > *{display:inline-block;line-height:18px;font-size:13px;font-weight:normal;color:#c8c8c8;font-family:"proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;letter-spacing:2px;}
.scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *.active {color:#c8c8c8;}
.scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *:active, .scroll-btn > *.active{opacity:0.8;filter:alpha(opacity=80);}
.scroll-btn .mouse{position:relative;display:block;width:28px;height:50px;margin:0 auto 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:2px solid #c8c8c8;border-radius:28px;}
.scroll-btn .mouse > *{position:absolute;display:block;top:29%;left:50%;width:3px;height:10px;margin:-4px 0 0 -2px;background:#c8c8c8;border-radius:2px;-webkit-animation:ani-mouse 2.5s linear infinite;-moz-animation:ani-mouse 2.5s linear infinite;animation:ani-mouse 2.5s linear infinite;}
.button{font-family:"open_sansregular", arial;font-size:18px;color:#ffffff;text-align:center;text-transform:uppercase;text-decoration:none;padding:16px 30px;border:2px solid #ffffff;margin-right:38px;margin-bottom:10px;display:inline-block;-moz-transform:skewX(-15deg);-webkit-transform:skewX(-15deg);-o-transform:skewX(-15deg);-ms-transform:skewX(-15deg);transform:skewX(-15deg);-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-ms-transition:all 0.5s linear;-o-transition:all 0.5s linear;transition:all 0.5s linear;}
.button:hover{color:#ffffff;border-color:#b80c0b;}
.button.red{background:#b80c0b;border-color:#b80c0b;}
.button.red:hover{background:#231f20;color:#ffffff;border-color:#231f20;}
.button.black{color:#231f20;border-color:#231f20;}
.button.black:hover{color:#231f20;border-color:#b80c0b;}
.button span{display:block;-moz-transform:skewX(15deg);-webkit-transform:skewX(15deg);-o-transform:skewX(15deg);-ms-transform:skewX(15deg);transform:skewX(15deg);}
.content{max-width:1900px;padding:0 8%;margin:0 auto;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
.content:after, section::after, .box::after{display:block;clear:both;content:"";}
.cars .col-md-1{height:120px;}
.car{width:50%;padding:20px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.car .border{border:1px solid #c8c8c8;}
.car .info{padding:25px;float:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.car img{display:block;float:left;}
.car ul{list-style:none;margin-bottom:10px;}
.car ul li{margin-bottom:3px;}
.car h3{font-family:"open_sanssemibold", arial;font-size:22px;text-transform:initial;padding-bottom:10px;}
.float-left{float:left;}
.float-right{float:right;}
.clear{clear:both;}
strong, b, h1, h2, h3, h4, h5, h6{font-weight:normal;line-height:initial;padding:0;margin:0;}
strong, b{font-family:"open_sanssemibold";}
h1{font-family:"open_sansextrabold_italic", arial;font-size:5.9vw;color:#c8c8c8;text-transform:uppercase;padding:40px 0;}
h2{font-family:"open_sansextrabold_italic", arial;font-size:50px;color:#c8c8c8;text-transform:uppercase;padding:40px 0;}
h3{font-family:"open_sansextrabold", arial;font-size:18px;color:#231f20;text-transform:uppercase;padding-bottom:30px;}
h3.title{font-family:"open_sansitalic", arial;font-size:31px;}
h4{font-family:"open_sanssemibold", arial;font-size:18px;color:#808080;text-transform:uppercase;}
p{margin-bottom:20px;}
img{max-width:100%;}
a{font-family:"open_sanssemibold";color:#b80c0b;text-decoration:none;}
a:hover, a:active{color:#b80c0b;text-decoration:none;}
a h4{-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-ms-transition:all 0.5s linear;-o-transition:all 0.5s linear;transition:all 0.5s linear;}
a:hover h4{color:#b80c0b;}
p a{text-decoration:underline;}
button:focus, button:active, input:focus, input:active{outline:none !important;}
ul, ol{padding:0;margin:0;}
*{padding:0;margin:0;}

@-webkit-keyframes sk-bouncedelay{
  0%, 80%, 100%{-webkit-transform: scale(0);}
  40%{-webkit-transform: scale(1.0);}
}
@keyframes sk-bouncedelay{
  0%, 80%, 100%{-webkit-transform: scale(0);transform:scale(0);}
  40%{-webkit-transform: scale(1.0);transform: scale(1.0);}
}
@-webkit-keyframes ani-mouse{
  0%{opacity:1;top:29%;}
  15%{opacity:1;top:50%;}
  50%{opacity:0;top:50%;}
  100%{opacity:0;top:29%;}
}
@-moz-keyframes ani-mouse{
  0%{opacity:1;top:29%;}
  15% {opacity:1;top:50%;}
  50%{opacity:0;top:50%;}
  100%{opacity:0;top:29%;}
}
@keyframes ani-mouse {
  0%{opacity:1;top:29%;}
  15%{opacity:1;top:50%;}
  50%{opacity:0;top:50%;}
  100%{opacity:0;top:29%;}
}

@media only screen and (min-width: 990px){
.seven-cols .col-md-1{width: 14.285714285714285714285714285714%;}
}

@media only screen and (max-width: 1882px){
.content{padding:0 6%;}
header::after, header #menu #search{display:none;content:"";}
header #menu ul li.phone{display:none;}
header #menu #white{color:#231f20;padding:29px 10px 0 10px;}
header #menu #white:hover{color:#9f9f9f;}
}

@media only screen and (max-width: 1774px){
.car img{margin:0 auto;float:none;}
.car .info{width:100%;text-align:center;float:none;}
.car .button{margin:0 auto;}
}

@media only screen and (max-width: 1674px){
footer #contact{margin-left:10px;float:right;}
footer .copy{clear:both;height:10px;}
footer #copyright{margin-top:30px;padding-top:30px;border-top:1px dashed rgba(255,255,255,0.15);text-align:center;clear:both;float:none;}
}

@media only screen and (max-width: 1324px){
header #menu{display:none;height:auto;background-color:#ffffff;margin:-1px -8% 0 -8%;padding:0 8%;position:absolute;top:80px;left:0;right:0;z-index:99;border-top:1px solid #dddddd;border-bottom: 1px solid #dddddd;}
header #menu-button:hover{color:#b80c0b;}
header #menu-button{position:absolute;right:0;z-index:100;cursor:pointer;background-color:#ffffff;border:0 none transparent;border-left:1px solid #dddddd;border-right:1px solid #dddddd;color:#231f20;height:80px;padding:0 25px;font-size:30px;width:auto;display:block;float:right;-moz-transform:skewX(-10deg);-webkit-transform:skewX(-10deg);-o-transform:skewX(-10deg);-ms-transform:skewX(-10deg);transform:skewX(-10deg);}
header #menu-button .fa{display:block;-moz-transform:skewX(10deg);-webkit-transform:skewX(10deg);-o-transform:skewX(10deg);-ms-transform:skewX(10deg);transform:skewX(10deg);}
}

@media only screen and (max-width: 1299px){
#slider::before{width:100%;opacity:0.8;}
#slider::after{display:none;}
#slider .bg{left:0;}
#slider{height:500px;}
#slider h2{padding-top:50px;font-size:5rem;}
#slider h3{font-size:2rem;}
footer #contact{margin-top:3px;}
footer #contact li{text-align:right;display:block;}
footer #contact li::after{display:none;}
}

@media only screen and (max-width: 1224px){
#kdo-jsme .bg{display:none;}
#kontakt .bg{position:static;right:0;width:100%;height:250px;background-size:cover;}
#kdo-jsme::before, #kontakt::before{display:none;content:"";}
.page .content{width:auto !important;float:none !important;padding:40px 8% !important;}
h1{font-size:80px;}
}

@media only screen and (max-width: 999px){
header #menu ul{width:100%;display:block;}
header #menu ul li{background-image:none;padding:0;display:block;float:none;border-bottom:1px dashed #dddddd;}
header #menu ul li a, header #menu #white{height:auto;padding:15px;}
.car{width:100%;float:none;}
.car img{float:left;}
.car .info{width:auto;text-align:left;float:right;}
}

@media only screen and (max-width: 990px){
.responsive-hide{display:none !important;}
#sprava{padding:90px 0 50px 0;}
}

@media only screen and (max-width: 949px){
#proc-my h3{text-align:center;}
#proc-my .rating{float:none;margin:0 auto;}
#proc-my .rating img{float:none !important;margin:0 auto !important;}
#proc-my .rating .float-right{margin-top:10px !important;}
#proc-my .button{position:static;margin-top:80px;}
footer .button{margin-bottom:30px;}
footer #social{float:right;}
footer #contact{clear:both;margin:0 auto !important;float:none !important;display:block !important;text-align:center;}
footer #contact li{text-align:center;display:block;}
footer #contact li::after{display:none;}
}

@media only screen and (max-width: 899px){
#slider h2{font-size:4rem;text-align:left;padding-top:70px;}
#proc-my h3{font-size:1.7rem;padding-left:0;padding-right:0;}
.car img{margin:0 auto;float:none;}
.car .info{width:100%;text-align:center;float:none;}
h1{font-size:4rem;padding-top:0;}
h2{font-size:3rem;}
h3.title{font-size:1.39rem;}
}

@media only screen and (max-width: 649px){
.button{padding-left:16px;padding-right:16px;}
}

@media only screen and (max-width: 599px){
body{font-size:16px;}
.content{padding:0 4%;}
.button{padding-left:16px;padding-right:16px;}
h1{font-size:3rem;text-align:center;}
h2{font-size:2rem;text-align:center;}
h3{text-align:center;}
}

@media only screen and (max-width: 549px){
#slider h2{font-size:2.35rem;text-align:center;padding-top:70px;}
#slider h3{font-size:1.5rem;text-align:center;padding-bottom:20px;}
#slider #slider-nav{width:100%;padding:0;}
#slider #kat{width:auto;display:table;margin:0 auto;}
.button{width:90%;margin:20px auto;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
}

@media only screen and (max-width: 474px){
#slider #kat .prev, #slider #kat .next{width:60px;}
footer .button{margin:0 auto;float:none;display:block;text-align:center;}
footer #social{display:table;margin:20px auto;float:none;}
footer #contact{margin:0 auto !important;float:none !important;display:block !important;text-align:center;}
footer #contact li{text-align:center;}
}

@media only screen and (max-width: 449px){
header #logo img{width:250px;margin-top:5px;}
}

@media only screen and (max-width: 374px){
header #logo img{width:210px;margin-top:9px;}
header #menu-button{padding:0 22px;}
}
