/*
Theme Name: Svajnoch
Author: Elias - IT Solutions

*/
.btn-scroll-button{
    display: none !important;
}
@font-face {
    font-family: 'Exo';
    src: url('assets/fonts/exo-1/Exo-Medium.ttf');

}
/* latin-ext */
@font-face {
    font-family: 'Exo Bold';
    src: url('assets/fonts/exo-1/Exo-Bold.ttf');
}
/* latin */
@font-face {
    font-family: 'Exo Light';
    src: url('assets/fonts/exo-1/Exo-Light.ttf');

}
html {
    font-family:  'Exo', 'sans-serif', 'serif';
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

body {
    margin: 0;
    font-family:  'Exo', 'sans-serif', 'serif';
overflow-x: hidden}
.row{
    width: 100% !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

article,
aside,
footer,
header,
nav,
section {
    display: block; }

h1 {
    font-size: 2em;
    margin: 0.67em 0; }

figcaption,
figure,
main {
    display: block; }

figure {
    margin: 1em 40px; }

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible; }

pre {
    font-family: monospace, monospace;
    font-size: 1em; }

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
    outline-width: 0; }

abbr[title] {
    border-bottom: none;
    }

b,
strong {
    font-weight: inherit; }

b,
strong {
    font-weight: bolder; }

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em; }

dfn {
    font-style: italic; }

mark {
    background-color: #ff0;
    color: #000; }

small {
    font-size: 80%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sub {
    bottom: -0.25em; }

sup {
    top: -0.5em; }

audio,
video {
    display: inline-block; }

audio:not([controls]) {
    display: none;
    height: 0; }

img {
    border-style: none; }

svg:not(:root) {
    overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0; }

button,
input {
    overflow: visible; }

button,
select {
    text-transform: none; }
.h1, h1 {
    font-size: 30px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.h2, h2{
    font-size: 24px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.h3, h3 {
    font-size: 20px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.h4, h4{
    font-size: 18px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.h5, h5{
    font-size: 14px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.h6, h6{
    font-size: 12px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.logo img {
    width:100%;
}
.logo {
    margin-top: 20px;
}


.menu-item{

    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -ms-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -3px;
}

.menu-item a{
    color:black;
}
.menu-item a:hover{
    color:black; !important;
}
.menu-item:hover{
    background: #f39800;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -3px;
    -webkit-transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -ms-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}

.menu-item.active {
    background: #f39800;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -3px;
}

.menu-item.active a{
    color:black;
    text-decoration: none !important;
}

.menu-navbar{
    float: right;
    width:70%;

}
.menu-navbar li{
    margin-right:2%;
}

.menu-navbar li a{
    font-weight:500;
}

@media all and (max-width: 769px){
    .menu-navbar{
        width:100%;
        margin-top:5%;
    }
}
nav.navigation {
    margin-top: -50px;
    margin-bottom: 50px;
}
.navigation li a{
    text-decoration: none !important;
}
.top-bar{
    float: right;
    margin-top: 5px;
    height: 50px;
    padding-right:10%;
}
@media all and (max-width:984px){
    .top-bar{
        margin-top:3%;
    }
    .menu-navbar{
        margin-top:20px;
    }
    .obrazok-produktu img,.galeria{
        width:100%;
    }
}
@media all and (max-width:450px) {


    .top-bar .search-bar{
        display: block;
        width:100%;

    }
    .top-bar .search-bar input{
        width:100%;
    }
    .top-bar{
        float:none;
    }
    .top-bar a{
        font-size:small;
    }
    .pro-partnery{
        padding-left:0 !important;
    }
    .menu-navbar{
        margin-top:10%;
        padding-left:0 !important;
    }
    .menu-navbar .menu-item{

        width:100%;
        display: block;
        text-align: center;
        margin-bottom:5%;

    }
    nav.navigation{

        margin-bottom:0 !important;
        margin-top:0 !important;
        padding-top:10%;
    }
    .btn-scroll-button{
        display: block !important;
        border: 1px solid #f39800 !important;
        background-color:transparent;
        color: #f39800 !important;
        margin-left: 2%;
    }
    .btn-scroll-button:hover, .btn-scroll-button:active, .btn-scroll-button:focus{
        border: 1px solid #f39800 !important;
        background-color:#f39800 !important;
        color: white !important;
    }
    /*.item .col-md-3{
        width:100% !important;
    }*/
    .col-md-6.blog-block{
        margin-left:0 !important;
    }
    .thumbnail-blog img{
        width:100%;
    }

    .read-more-blog
    {   float: none !important;
    }

    .hl-title h2::before {

        width:0 !important;
    }

    .hl-title h2::after{

        width:0 !important;
    }

}
.search-bar {
    display: inline-block;
}
.pro-partnery {
    display: inline-block;
    padding-left: 10px;
}
.prihlaseni {
    display: inline-block;
    padding-left: 10px;
}
.prihlaseni a {
    color: black;
}
.cart {
    display: inline-block;
    padding-left: 10px;
    width:100%;
}
.cart table{
    width:100%;
}
.cart table tr{
    border-bottom:1px solid rgba(0,0,0,.2)
}
.cart table tr:nth-child(2){
    border-bottom:4px solid rgba(0,0,0,.2)
}
.top-bar .cart{
    width:auto;
}
.language {
    display: inline-block;
}
.cz-language {
    display: inline-block;
}
.sk-language {
    display: inline-block;
}

.active {
    color: #cdd515 !important;
}
.pro-partnery a{
    color:black;
}
input.search-input {
    border-radius: 5px;
    border: 1px solid #cdd515;
    padding-left: 10px;
}
.hladat {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
}
i.fa.fa-search.hladat{
    color: #cdd515;
}
footer.footer {
    background: url(../assets/images/background-footer.png) center bottom;
    background-repeat: repeat-x;
    background-size: cover;
    margin-top: 100px;
    padding-top: 20px;
    background-position-y: 0;

}
.col-md-12.widgety {
    margin-top: 155px;
}
.email a {
    color: #cdd515;
    font-weight: 600;
    font-family: Exo;
}

.adresa {
    color: white;
    font-family: Exo;
    margin-bottom: -21px;
}
.email {
    padding-top: 10px;
}
.widgety2 {
    display: inline-block;
    width: 20%;
}
@media all and (max-width:768px ){
    widgety2{
        width:100%;
    }
}
.widgety3 {
    display: inline-block;
}
.widgety4 {
    display: inline-block;
}
.widgety2 h4 {
    font-size: 18px;
    font-weight: normal;
    color: #f39800;
    font-family: Exo;
}
.footer-1 {
    padding: 0px;
}
.footer-1-menu {
    list-style: none;
    color: white;
    font-weight: 300;
    font-family: Exo;
}
.footer-1-menu a {
    list-style: none;
    color: white;
    font-weight: 300;
    font-family: Exo;
}
a:hover{
    color: #f39800;
    text-decoration: none;
}
.footer-1-socialne-site a {
    list-style: none;
    color: white;
    font-weight: 300;
    font-family: Exo;
}
.footer-1-socialne-site {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
.bs-col5.widgety2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
    min-height: 10px;
}
.bs-col-container.widgety {
    margin-top: 155px;
}
.copyright {
    list-style: none;
    color: white;
    font-weight: 300;
    font-family: Exo;
    text-align: right;
    float: left;
    margin-top: 10px;
    font-size: 15px;
}
.copyright-logo {
    margin-left: 30px;
}
.logo-footer-obrazok {
    margin-top: -5px;
    margin-bottom: 5px;
}

.hl-title{display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 12px;}
.hl-title h2{text-align:center; position:relative; }
.hl-title h2::after{
    content: '';
    position: absolute;
    right: 20%;
    top: 30px;
    width: 20%;
    border-bottom: 2px solid #f39800;
}
.hl-title h2::before{
    content: '';
    position: absolute;
    left: 20%;
    top: 30px;
    width: 20%;
    border-bottom: 2px solid #f39800;
}
@media all and (max-width: 993px){

    .hl-title h2::before{
        left:14%;
    }

    .hl-title h2::after{
        right:14%;
    }
}

@media all and (max-width: 769px){

    .hl-title h2::before{
        left:10%;
    }

    .hl-title h2::after{
        right:10%;
    }
}

.hl-title h2 span {
    position: relative;
    top: 13px;
    padding: 0 10px;
    color: #f39800;
    font-family: Exo Bold, sans-serif;
}
.blog-block{
    max-width: 400px;
}
.thumbnail-blog img {
    max-width: 400px;
    margin: 0 auto;
    width:100%;
}
.thumbnail-blog {
    margin-top: 20px;
}
.blog-nazov {
    color: #6dbbdb;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Exo;
}
.description-blog {
    max-width: 400px;
    font-family: Exo;
}
.read-more-blog {
    text-align: center;
    padding: 2% 7.5%;
    background: #f39800;
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.read-more-blog a {
    color: white;
    font-weight: 600;
    font-size:20px;
}


.viac-tlacitko {
    text-align: center;
    background: #6dbbdb;
    font-size: 25px;
    margin-top: 15% !important;
    padding: 5% 5% !important;
}

@media all and (max-width: 984px){

    .viac-tlacitko {
        text-align: center;
        padding: 15px;
        background: #6dbbdb;
        margin-top: 80px;
    }
}

.viac-tlacitko a {
    color: white;
    font-size: 19px;
    font-weight: 900;
    font-family: Exo;
}
.hl-title-page{display: block;
    width: 550px;
    margin: 0 auto;
    padding-bottom: 20px;}
.hl-title-page h2{text-align:center; border-bottom:2px solid #f39800; position:relative; }
.hl-title-page h2 span { background-color: white; position: relative; top: 13px; padding: 0 10px; color: #f39800;
    font-weight: bold;
}
.zakladne-informacie {
    color: #f39800;
    font-family: Exo;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}
.sidlo p, .email-kontakt{
    font-family: Exo Bold, sans-serif;
}

.ico-dic {
    margin-top: 20px;
    font-family: Exo;
}
p {
    font-family: Exo;
    margin: 0px;
}

.objednavky{
    color: #f39800;
    font-family: Exo;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}
.objednavky-email p{
    font-family:Exo Bold, sans-serif;
    margin-top: 20px;
}
.kontaktni-osoby{
    color: #f39800;
    font-family: Exo;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.meno-kontakt {
    margin: 0px;
    font-weight: bold;
    font-family: Exo;
}
.col-md-6.posledny-block {
    float: right;
}
.velkoobchod{
    color: #f39800;
    font-family: Exo;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.mapa {
    margin-top: 20px;
}
.col-md-6.avatar {
    margin-bottom: 10px;
}
.description-brand{
    color: black;
    font-family: Exo;
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.znacky-ikonky-prvy {
    text-align: center;

}
.znacky-ikonky-druhy {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}
.viac-tlacitko2 {
    text-align: center;
    padding: 15px;
    background: #6dbbdb;
    margin-top: 40px;
    width:50%;
    -webkit-box-shadow: 2px 4px 10px rgba(0,0,0,.3);
    -moz-box-shadow:2px 4px 10px rgba(0,0,0,.3);
    box-shadow: 2px 4px 10px rgba(0,0,0,.3);
}
.viac-tlacitko2 a {
    color: white;
    font-size: 23px;
    font-weight: 900;
    font-family: Exo;
}
@media all and (max-width:321px){
    .viac-tlacitko2{
        margin-top:40px !important;
    }
}
.gsi-block-text {
    background: #cdd515;
    padding: 80px;
    max-height: 536px;
    height: 536px;
    margin-right: -30px;
    font-family: Exo;
    padding-left:15%;
}
@media all and ( max-width:984px ){
    .gsi-block-text{
        padding-left:0;
        width:100%;
        padding-right:0;

    }
    .gsi-block{
        width:100%;
    }

}
@media all and (max-width: 769px){
    .gsi-block{
        width:auto;
    }
}

@media all and (max-width: 700px){
    .gsi-block{
        width:100%;
    }
}
.col-md-7.obrazok-gsi {
    padding:0;
    background: #cdd515;
}
.gsi-block-text2 {
    margin-top: 20px;
    padding-right:40%;
}
@media all and ( max-width:984px){
    .gsi-block-text2{
        padding-left:20%;
        padding-right:20%;
    }
}
.gsi-block-nadpis {
    font-family: 'Exo Bold', sans-serif;
    font-size: 25px;
    text-align: left;
}
.col-md-4.text-banner {
    float: right;
    margin-top: 60px;
    right: 20px;
}
.col-md-12.banner-obrazok {
    background-image: url("assets/images/banner.png");
    height: 450px;
    max-height: 450px;
    background-size:cover;
}
.text-banner-obrazok {
    max-width: 250px;
}
.text-decription {
    color: white;
    font-family: Exo;
    font-size: 18px;
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;
}
.banner-cena {
    margin-top: 20px;
    margin-left: 20px;
    color: #f39800;
    font-size: 20px;
    font-weight: 900;
    font-family: Exo;
}
.tlacitko-banner {
    text-align: center;
    padding: 15px;
    background: #f39800;
    margin-top: 40px;
    width: 200px;
    margin-left: 20px;
}
.tlacitko-banner a {
    color: white;
    font-size: 19px;
    font-weight: 900;
    font-family: Exo;
}
.container-full.katalog-pozadie {
    background-image: url("../assets/images/katalog-produktov.png");
    background-position: 100% 100%;
    padding-bottom:5%;
    background-attachment: fixed
}

.carousel .product-item{
    width:100%;
    max-width: 90%;
}
.product-item {
    width: 205px;
    max-width: 205px;
    border: 1px solid #acacac;
    background: white;
    padding-bottom: 20px;
    box-shadow: 0px 1px 1px 0px;
    margin-top: 25px;
}
.image-box {
    text-align: center;
}
.nazov-produktu {
    font-family: Exo;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;
    color:black;
}
.znacky {
    padding-left: 20px;
    font-family: Exo;
    color:black;
}
.cena-produktu {
    padding-right: 26px;
    text-align: right;
    color: #f39800;
    font-size: 17px;
    font-family: Exo;
    font-weight: bold;
    margin-top: 40px;
}
.pridatdokosika {
    padding: 10px;
    background: #f39800;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
}
.pridatdokosika a{
    color: white;
    font-weight: bold;
    font-family: Exo;
    font-size: 16px;
}
.text-vse-zacalo {
    /*width: 230px;
    max-width: 230px;*/
    margin-top: 50px;
    font-size:20px;
    /*margin-left: -25px;*/
    font-family: Exo;
    padding-left: 10%;
    padding-right: 10%;
}
@media all and (max-width:1201px){
    .text-vse-zacalo{
        font-size: 14px;
    }
}

@media all and ( max-width:993px){
    .text-vse-zacalo{
        margin-top:0 !important;
    }
}

.brand-images {
    margin-left: -15px;
    width: 100%;
    margin-bottom:5%;
}
.gsi-logo {
    text-align: center;
}
.text-pod-logom {
    padding: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Exo;
    font-size: 20px;

}
@media all and (max-width:1201px){
    .text-pod-logom{
        font-size: 14px;
    }
}
.gsi-obrazok-pod-logom {
    text-align: center;
    margin-top: 20px;
}
.gsi-obrazok-pod-logom img {
    max-width: 900px;
}
.text-pod-obrazkom2 {
    padding: 150px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    font-family: Exo;

    font-size:20px;
}

@media all and (max-width:1201px){
    .text-pod-obrazkom2{
        font-size: 14px;
    }
}

.technologie h3 {
    color: #f39800;
    text-align: center;
    font-family: Exo;
    font-weight: bold;
}
.halulite {
    text-align: center;
}
.halulite:hover {
    width: 168px;
    height: 58px;
    background-image: url("../assets/images/halulite1.png");
    margin: 0 auto;
}
.halulite {
    width: 175px;
    height: 58px;
    background-image: url("../assets/images/halulite2.png");
    margin: 0 auto;
}
.text-pod-halulite {
    padding: 120px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 100px;
    font-family: Exo;
    text-align: center;
    font-size: 20px;
    padding-top:5%;
}

@media all and (max-width:1201px){
    .text-pod-halulite{
        font-size: 14px;
    }
}


.system-skladani h3 {
    color: #f39800;
    text-align: center;
    font-family: Exo;
    font-weight: bold;
    margin-top: 40px;
}
.skladani1 {
    text-align: center;
}
.skladani2 {
    text-align: center;
}
.skladani3 {
    text-align: center;
}
.skladani1 img {
    margin-top: 110px;
}
.skladani-text {
    padding: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 60px;
    font-family: Exo;
    text-align: center;
    font-size:20px
}

@media all and (max-width:1201px){
    .skladani-text{
        font-size: 14px;
    }
}

.hl-title2{display: block;

    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;}
.hl-title2 h2{text-align:center; position:relative;
    font-family: 'Exo Bold', sans-serif; }
.hl-title2 h2 span { background-color: white; position: relative; top: 13px; padding: 0 10px; color: #000000;}
.top-produkty-viac {
    text-align: center;
    padding: 15px;
    background: #6dbbdb;
    margin-top: 40px;
}
.top-produkty-viac a {
    color: white;
    font-size: 19px;
    font-weight: 900;
    font-family: Exo;
}
.text-prodejci {
    padding: 120px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-top: 0px;
    padding-bottom: 0px;

    font-family: Exo;
    text-align: center;
}
.loga-prodejci img {
    padding-left:90px;
}
.loga-prodejci {
    text-align: center;
}
.volby {
    padding-left: 60px;
    display: flex;
}
.volby-block {
    width: 25%;
    text-align: center;
}

.nadpis-kraja h3 {
    font-size: 18px;
    font-family: Exo;
    color: #6dbbdb;
    font-weight: bold;
    padding-left: 120px;
    margin-top: 70px;
}
.info-prodejci {
    padding-left: 120px;
}
.meno-predajcu {
    font-family: Exo;
    font-size: 15px;
    padding-bottom: 15px;
}
.adresa-predajcu {
    font-family: Exo;
}
.mesto-predajcu {
    font-family: Exo;
}
.webovy-odkaz-predajcu a {
    color: #333;
    font-family: Exo;
    text-decoration: underline;
}
.odkaz-na-pin-v-mape a {
    color: #333;
    font-family: Exo;
    text-decoration: underline;
}
.odkaz-na-pin-v-mape {
    padding-top: 10px;
    padding-bottom: 10px;
}
.otviraci-doba {
    font-family: Exo;
}
.cas-otviraci-doba {
    font-family: Exo;
}
.col-md-3.info-prodejci {
    padding-left: 120px;
    padding-top: 10px;
}
.col-md-3.info-prodejci2 {

    padding-top: 10px;
}
.col-md-3.info-prodejci2 {
    padding-left: 80px;
}
.col-md-3.info-prodejci3 {
    padding-left: 50px;
    padding-top: 10px;
}
.prodejci-blok {
    margin-top: 90px;
    margin-bottom: 230px;
}
.blog-checkbox {
    display: inline-block;
}
.col-md-3.checkbox-blok {
    /*width: 13%;*/
    margin: 0 auto;
    text-align: center;

}
.col-md-3.checkbox-blok1 {
    /*width: 13%;*/
    margin: 0 auto;
    text-align: center;
    /*margin-left: 260px;*/
}
.breadcrum {
    margin-left: 90px;
    margin-top: 30px;

}
.breadcrum a{
    color: black
}
.breadcrum a:hover{
    text-decoration: none;
    color: #f26522
}
.top-obrazok-blog img {
    max-width: 895px;
}
.nadpis-blog-clanok {
    margin-top: 20px;
    color: #6dbbdb;
    font-size: 17px;
    font-weight: bold;
    margin-left: 95px;
    font-family: Exo;
}
.datum-blog-clanok {
    margin-left: 95px;
    font-family: Exo;
}
.text1-blog-clanok {
    margin-left: 95px;
    padding-right: 80px;
    font-family: Exo;
    margin-top: 20px;
}
.top-obrazok-blog {
    text-align: center;
    margin-top: 10px;
}
.text-v-clanku {
    margin-left: 80px;
    margin-top: 30px;
    font-family: Exo;
}
.obrazok-v-clanku {
    margin-top: 30px;
}
.obrazok-v-clanku img {
    max-width: 400px;
    margin-left: 40px;
}
.motto {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    color: #6dbbdb;
    font-family: Exo;
    font-weight: bold;
    padding-left: 200px;
    padding-right: 200px;
}
.obrazok2-v-clanku img {
    max-width: 895px;
}
.obrazok2-v-clanku {
    text-align: center;
    margin-top: 50px;
}
.text-pod-mottom {
    margin-left: 92px;
    margin-right: 92px;
    margin-top: 30px;
}
.obrazok-v-clanku2 {
    margin-top: 40px;
    margin-left: 40px;
}
.obrazok-v-clanku2 img {
    max-width: 400px;
    margin-left: 40px;
}
p.text-v-clanku2 {
    font-family: Exo;
    padding-right: 100px;
    margin-top: 35px;
}
.fb {
    margin-top: 30px;
}
.autor-clanku {
    font-family: Exo;
    margin-top: 20px;
}
.jmeno-prijimeni {
    font-family: Exo;
    margin-top: 20px;
}
.obrazok-produktu {
    margin-left: 80px;
    margin-top: 25px;
}

.nazov-produktu2 {
    margin-top: 20px;
    font-size: 18px;
    font-family: Exo;
    font-weight: bold;
}
.znacka-produktu {
    font-family: Exo;
    margin-bottom: 10px;
}
.novinka-znacka {
    font-family: Exo;
    background: #f26522;
    width: 14%;
    text-align: center;
    display: inline-block;
}
.top-produkt-znacka {
    font-family: Exo;
    background: #6dbbdb;
    text-align: center;
    display: inline-block;
}
.vyprodej-znacka {
    font-family: Exo;
    background: #cdd515;
    width: 16%;
    text-align: center;
    display: inline-block;
}
.short-description {
    margin-top: 20px;
}
.ikonky-produkt {
    margin-top: 20px;
}
.technologie-text-right {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Exo;
    font-size: 15px;
}
.technologie-text {
    display: inline-block;
    font-family: Exo;
    font-size: 15px;
}
.delka-text-right {
    display: inline-block;
    margin-top: 20px;
    margin-left: 37px;
    font-family: Exo;
    font-size: 15px;
}
.delka-text {
    display: inline-block;
    font-family: Exo;
    font-size: 15px;
	
}
.barva-text-right {
    display: inline-block;
    margin-top: 20px;
    margin-left: 66px;
    font-family: Exo;
    font-size: 15px;
}
.barva-text {
    display: inline-block;
    font-family: Exo;
    font-size: 15px;
	
}
.barva-text-right1 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 7px;
    font-family: Exo;
    font-size: 15px;
}
.mnozstvi-text-right {
    display: inline-block;
    margin-top: 20px;
    margin-left: 45px;
    font-family: Exo;
    font-size: 15px;
}
.mnozstvi-text {
    display: inline-block;
    font-family: Exo;
    font-size: 15px;
}
.dostupnost-text-right {
    display: inline-block;
    margin-top: 20px;
    margin-left: 29px;
    font-family: Exo;
    font-size: 15px;
}
.dostupnost-text {
    display: inline-block;
    font-family: Exo;
    font-size: 15px;
}
.technologie-product {
    height: 30px;
}
.delka-product {
    height: 30px;
}
.barva-product {
    height: 40px;
}
.mnozstvi-product {
    height: 30px;
}
.cena-text-right {
    display: inline-block;
    margin-top: 20px;
    margin-left: 59px;
    font-family: Exo;
    font-size: 21px;
    color: #f39800;
    font-weight: bold;
}
.cena-text {
    display: inline-block;
    font-family: Exo;
    font-size: 13px;
    text-decoration: line-through;
}
.zdielanie-text-right {
    display: inline-block;
    margin-top: 35px;
    margin-left: 5px;
    font-family: Exo;
    position: absolute;
    color: #f39800;
}
.zdielanie-text-right a {
    color: #f39800;
}
.tlacitko-text {
    display: inline-block;
    font-family: Exo;
    font-size: 15px;
    background: #f39800;
    padding: 9px;
    color: white;
    font-weight: bold;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 35px;
}
.tlacitko-text a {

    color: white;
    font-weight: bold;

}
.wishlist-text-right {
    margin-top: -25px;
    margin-left: 135px;
    font-family: Exo;
    color: #f39800;

}
.wishlist-text-right a {

    color: #f39800;

}
.tabulka-popis {
    text-align: center;
    border: 2px solid #cdd515;
    cursor: pointer;
}
.col-md-3.tabulka-popis {
    width: 20%;
}
.parametre-popis {
    text-align: center;
    border: 2px solid #cdd515;
    margin-left: -31px;
    cursor: pointer;
}
.col-md-3.parametre-popis {
    width: 20%;
}
.hodnoceni-uzivateli-popis {
    text-align: center;
    border: 2px solid #cdd515;
    margin-left: -31px;
    cursor: pointer;
}
.col-md-3.uzivateli-popis {
    width: 20%;
}
.ke-stazeni-popis {
    text-align: center;
    border: 2px solid #cdd515;
    margin-left: -31px;
    cursor: pointer;
}
.col-md-3.ke-stazeni-popis {
    width: 20%;
}
.tabulka {
    padding-left: 80px;
}
.popis-long-description {
    display: none;
}
.parametre-long-description {
    display: none;
}
.hodnoceni-long-description {
    display: none;
}
.ke-stazeni-long-description {
    display: none;
}
.tabulka-popis:focus .popis-long-description {
    display: block;
}
.tabulka-popis:active .popis-long-description {
    display: block;
}
.popis-text {
    cursor: pointer;
}
.active-tabulka {

    display:block;
}
.active-tabulka2 {
    background: #cdd515;
    font-weight: bold;

}
.banner-kategorie {
    text-align: center;
}
.logo-kategorie {
    margin-top: -88px;
    background: white;
    margin-left: 70px;
    width: 50%;
}
.text-banner {
    right: 410px;
    margin-top: -90px;
    color: white;
    font-size: 22px;
    text-align: left;
    width: 250px;
}
.tlacitko-banner2 {
    text-align: center;
    padding: 15px;
    background: #f39800;
    border: 1px solid #f39800;
    margin-top: -90px;
    width: 150px;
    margin-right: 120px;
    font-size: 18px;
    right: 100px;
    z-index: 3;
    float:right;
    color: white;
    font-weight: bold;
    font-family: Exo;
    cursor: pointer;
}

.tlacitko-banner2:hover{
    border: 1px solid #f39800;
    background: white;
    color:#f39800;
    -webkit-transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -ms-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}

.nadpis-kategorie h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Exo Bold', sans-serif;
}


.description-homepage{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:auto;
    background-color:rgba(109, 187, 219, .9);
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    display:block;
    font-size:20px;
    padding-left: 20px;
    font-family:'Exo Light', sans-serif;
    z-index:100;
}
.homepage-image-container{
    padding: 0 !important;
    margin-left:1%;
    margin-bottom:1.5%;
    position: relative;
    cursor: pointer;
}

.ikonka-kategorie{
    cursor: auto;
}

.homepage-image-container, .homepage-image-container * {
    z-index: 1000;
}
.homepage-image-container img{
    width:100%;
}
.homepage-image-container:hover:after, .ikonka-kategorie:hover:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(109, 187, 219, .4);
    -webkit-transition: background-color .7s ease-in;
    -moz-transition: background-color .7s ease-in;
    -ms-transition: background-color .7s ease-in;
    -o-transition: background-color .7s ease-in;
    transition: background-color .7s ease-in;
    z-index: 10;
}
.homepage-image-container:hover .description-homepage, .ikonka-kategorie:hover .description-homepage{
    background-color:transparent;
}

.test-div{
    background-size:cover;
    background-position: center;
    margin-left:2%;
}
.home .col-md-4, .home .col-md-5, .home .col-md-7, .home .col-md-6, .home .col-md-8{
    padding:0;
}
.more-products{
    font-size: 25px !important;
    color: white !important;
    background-color: rgba(109, 187, 219, 1) !important;
    font-family: Exo, sans-serif !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    margin-top: 15% !important;
    padding: 5% 25% !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0 !important;
    font-weight:bold !important;
    border:0 !important;
    -webkit-box-shadow: 2px 4px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 2px 4px 10px rgba(0,0,0,.3);
    box-shadow: 2px 4px 10px rgba(0,0,0,.3);
}
@media all and (max-width:451px){
    .more-products{
        font-size:14px !important;
    }
    .nase-znacky-top-produkty .product-item{
        max-width:100%;
        width:100%;
    }
}
.text-gsi{
    padding: 0 !important;
}
.cart h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom:2.5%;
}
.cart h2:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    right: 35%;
}
.cart h2:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    left: 35%;
}
.loader{
    width: 90%;
    display: flex;
    position: relative;
}
.loader:before{
    content: '';
    position: absolute;
    border-bottom: 2px solid rgba(0,0,0,.2);
    top: 10%;
    width:75%;
    height: 5px;
    left:12%;
    z-index: -1000;
}
.loader:after{
    content: '';
    position: absolute;
    border-bottom: 2px solid #cdd515;
    top: 10%;
    width: 25%;
    height: 5px;
    left: 12%;
    z-index: -1000;
}
.loader#first_step:after{
    width: 0;
}
.loader#second_step:after{
    width: 25%;
}
.loader#third_step:after{
    width:50%;
}
.loader#fourth_step:after{
    width:75%;
}
.stage{
    position: relative;
    width:25%;
    height:50px;
}
/*.stage.with-line:after{
    content: '';
    position: absolute;
    border-bottom: 2px solid rgba(0,0,0,.2);
    top: 10%;
    width: 212px;
    height: 5px;
    left: -105px;
    z-index: -1000;
}*/
.stage .circle{
    width:20px;
    height: 20px;
    border: 3px solid rgba(0,0,0,.2);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1000;
    background-color:white;
}
.stage .text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:15px;
    color:rgba(0,0,0,.2);
    font-family: 'Exo Bold', sans-serif;
}
.stage.active-line .circle {
    border: 3px solid #cdd515;
}
.stage.active .text{
    font-weight: bold !important;
    color:black;
    text-decoration: none !important;
    border:0;
}
/*.stage.with-line.active-line::after {
    border-bottom: 2px solid #cdd515; ;
}*/
.note{
    color:rgba(0,0,0,.2);
}
.note-to-order textarea{
    width:100%;
    min-width:100%;
    max-width:100%;
    min-height:100px;
    height:100%;
    max-height: 100%;
}
.cart .send-btn{
    color: white;
    font-weight: bold;
    padding: 4% 10%;
    background-color: #f39800;
    border: 0;
    width: 100%;
    font-size: 15px;
}
@media all and (max-width:400px){
    .cart .send-btn{
        padding: 4% 0;
    }
}
.cart-footer p, .cart-footer p * {
    font-size:15px;
}
.cart-footer p .description{
    font-family: 'Exo Bold', sans-serif;
    color: black;
}
.cart-footer p .content{
    font-weight: bolder;
    color:#f39800;
}
.table-product table{
    border-left:0;
    border-right:0;
}
.table-product table tbody tr td:nth-child(1){
    border-left:0;
}
.table-product table tbody tr td:nth-child(2){
    border-right:0;
}
.tab-pane.active{
    color:black;
}

.carousel-control{
    width: auto !important;
    background-image:none !important;
    top:50% !important;
    opacity:1 !important;
}
.carousel-control img{
    width:30%;
}
.carousel-control.left{
    left:-100px !important;
}
.carousel-control.left img{
    transform: rotate(180deg);
}
.carousel-control.right{
    right:-90px !important;
}
.carousel-control span {
    background-color:white;
    width:35px !important;
    height:35px !important;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
}

.carousel-control span::before{
    color:transparent;
}

@media all and (max-width:983px) {

    .carousel-control.left{
        left:-70px !important;
    }
    .carousel-control.right{
        right:-70px !important;
    }

}

@media all and ( max-width:768px){
    .carousel-control span {
        padding:1%;
    }
}
.ikonka-kategorie{
    width:19% !important;
    height:250px;
    background-size:cover;
    margin-left: 1.2%;
    margin-bottom:5%;
}
.background{
    padding-bottom: 7.5%;
}

.background{
    z-index:1000;
    background-image: url('assets/images/background-2.png');
    background-size:cover;
    background-repeat:no-repeat;

}
.katalog-pozadie{
    background-repeat: no-repeat;
    background-size: cover;
}

.katalog-pozadie .hl-title h2::before{
    left:17.5%;
}
.katalog-pozadie .hl-title h2::after{
    right:17.5%;
}

@media all and (max-width: 993px){

    .katalog-pozadie .hl-title h2::before{
    left:17.5%;
}

    .katalog-pozadie.hl-title h2::after{
    right:17.5%;
}
}

@media all and (max-width: 769px){

    .katalog-pozadie .hl-title h2::before{
        left:10%;
    }

    .katalog-pozadie .hl-title h2::after{
        right:10%;
    }
}

.znacky-ikonky-image{
    margin-right: 10%;
    transform: scale(1,1);
    -webkit-transition:transform .3s ease-in;
    -moz-transition:transform .3s ease-in;
    -o-transition:transform .3s ease-in;
    transition:transform .3s ease-in;
    cursor: pointer
}

.logo-prodejci{
    display:block;
    padding-left: 110px;
}

.logo-prodejci img{
    width: 12%;
    transform: scale(1,1);
    -webkit-transition: transform .3s ease-in;
    -moz-transition: transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    margin-left: 5%;
}

@media all and ( max-width: 769px){
    .logo-prodejci{
        display:block;
    }
    .logo-prodejci img{
        width:25%;
    }
    .mapa iframe{
        padding-left:60px !important;
    }
    .contact-map iframe{
        padding-left:0 !important;
    }
}

.logo-prodejci img:hover{
    transform: scale(1.3,1.3);
    -webkit-transition:transform .3s ease-in;
    -moz-transition:transform .3s ease-in;
    -o-transition:transform .3s ease-in;
    transition:transform .3s ease-in;
}

.znacky-ikonky-prvy, .znacky-ikonky-druhy{
    display: flex;
}

@media all and (max-width:993px) {
    .znacky-ikonky-prvy, .znacky-ikonky-druhy{
        display: block;
    }


}

.navbar.navbar-default{
    background-color:transparent;
    border:0;
    margin-top:2%;
}
.navbar-default .navbar-nav > li > a{
    padding:0
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    color:black;
    background-color:transparent !important;

}
@media all and (min-width:768px){
    footer .container{
        width:100%;
    }
}
@media all and (max-width:928px) {
    .logo-footer-obrazok {
        width: 100%;
    }
}
@media all and (max-width:400px){
    .bs-col5.widgety2{
        width:100%;
    }
    .logo-footer-obrazok{
        margin-top:30%;
    }
    footer .adresa p, footer .email a, footer .footer-1-menu a, footer h4, footer .footer-1-socialne-site a, footer p{
        font-size:15px !important;
    }
}
.checkbox-volba{
    padding-left: 1%;
    padding-right: 1%;
    margin-top:2.5% !important;
}
.blog-header::before{
    left:19%;

}
.blog-header::after{
    right:19%;
}
@media all and (max-width:401px){
    .breadcrum{
        margin-left:10px
    }
    .nadpis-blog-clanok{
        margin-left:0;
    }
    .datum-blog-clanok{
        margin-left:0;
    }
    .text1-blog-clanok{
        margin-left:0;
        padding-right:0;
    }
    .text-v-clanku{
        margin-left:0;
    }
    .obrazok-v-clanku img{
        width:100%;
        margin-left:0;
    }
    .obrazok2-v-clanku img,.obrazok-v-clanku2 img{
        width:100%;
        max-width:100%;
        margin-left:0;
    }
    .top-obrazok-blog img{
        max-width:100%;
        width:100%;
    }
    .text-pod-mottom{
        margin-left:0;
        margin-right:0;
    }

    p.text-v-clanku2{
        padding-right:0;
    }
    .product-tabs li{
        width:100% !important;
    }
    .obrazok-produktu img{
        width:100%
    }

    .galeria img{
        width:20%;
    }
    .hl-title-page{
        width:auto;
    }
    .brand-images {
        margin-left:0;

    }
    .text-pod-logom{
        padding:0;
    }
    .text-pod-obrazkom2{
        padding:0;
    }
    .text-pod-halulite{
        padding:0;
    }
    .skladani-text{
        padding:0;
    }
    .text-prodejci{
        padding:0 !important;
    }
    .logo-prodejci img{
        width:75%;
        margin-left:25%;
    }
    .logo-prodejci{
        padding-left:0;
    }
    .volby-block{
        width:100%;
    }
    .volby{
        display: block;
        padding-left:50px;
    }
    .col-md-3.info-prodejci,.col-md-3.info-prodejci2,.col-md-3.info-prodejci2,.col-md-3.info-prodejci3 {
        padding-left:60px;
    }
    .scroll-down-menu-item{
        width:100%;
    }
}
.scroll-down-menu-item{
    width:11.12%;
    height:100%;
    border: 1px solid rgba(109, 187, 219, .9);

}
.scroll-down-menu{
    width:100%;
    display: flex;
    height:auto;
    padding-left: 5%;
    padding-right: 4%;
    margin-top:1%

}
.scroll-down-image{
    width: 100%;
}
.scroll-down-menu-item p{
    overflow: hidden;
}
.category-title::before{

    left:19%;
}
.category-title::after{
    right:19%;
}
.meno-kontakt p, .funkcia p, .email-osoba p, .telefon-osoba p{
    margin-bottom:0 !important;

}
.contact-data .contact{
    margin-bottom:5%;
}
.step{
    display:none;
}
.active_step{
    display: block;
}
a.step_link{
    cursor: pointer;
    text-decoration: none;
}
.cart-header::before{
    left:10% !important;
}

.cart-header::after{
    right:10% !important;
}

span.price{
    color:#cdd515;
    float: right;
}
.click-menu{
    margin-top:2.5%;
}
.hl-title h4{text-align:center; position:relative; color:#f39800 }
.hl-title h4::after{
    content: '';
    position: absolute;
    right: 19%;
    top: 10px;
    width: 15%;
    border-bottom: 1px solid #f39800;
}
.hl-title h4::before{
    content: '';
    position: absolute;
    left: 19%;
    top: 10px;
    width: 15%;
    border-bottom: 1px solid #f39800;
}
.click-menu-text{
    padding-top:15%;
}

.click-menu-div{
    margin-bottom:1%;
}
.category-title h2::before{
    left:18% !important;
}
.category-title h2::after{
    right:18% !important;
}

table p .description{

    font-weight:bold !important;
    color:black;
}

table td .price{
    color:#f39800
}
table td span.price{
    font-size: 20px
}

hr{
    border: 1px solid rgba(0,0,0,.15)!important;
}
.breadcrumb{
    background-color:transparent !important;
}
.breadcrumb a{
    color:black;
}
.breadcrumb a:hover{
    color:#f39800;
    text-decoration: none;
}
.hl-title h3{text-align:center; position:relative;color: #f39800 }
.hl-title h3::after{
    content: '';
    position: absolute;
    right: 20%;
    top: 15px;
    width: 20%;
    border-bottom: 2px solid #f39800;
}
.hl-title h3::before{
    content: '';
    position: absolute;
    left: 20%;
    top: 15px;
    width: 20%;
    border-bottom: 2px solid #f39800;
}
.click-menu-subdiv{
    display:flex;
    cursor:pointer;
}
.click-menu-div .click-menu-image{
    width:40%;
    height:100%;
}

.filter-options{
    display:flex;
}
.filter-options .checkbox{
    margin-top:0 !important;
    width:33.3%;
}
.pagination{
    margin-top: 0 !important;
    float:right;
    margin-right:10%;
}

.pagination a{
    color:black !important;
}
.pagination a.active{
    text-decoration: underline;
}
.product-list-item{
    border: 1px solid rgba(0,0,0,.4);
    margin-top:15px;
}
.product-list-item img{
    width:75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-list-item .product-name{
    color:black;
    font-size:20px;
    float:left;
}
.product-list-item .brand{
    color:black;
    float:left;
    font-size:15px;
}
.product-list-item .previous-price{
    color:black;
    font-size:15px;
    text-decoration: line-through;
}
.product-list-item .new-price{
    color:#f39800;
    font-size:20px;
}
.product-list-item .btn-buy{

    height: 30px;
    background-color: #f39800;
    border: 0;
    font-size: 20px;
    color: white;
    border-radius: 0;
    padding-bottom: 17.5%;

    margin: 5% auto;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border:1px solid #f39800;
    font-family: 'Exo Bold', sans-serif;

}
.product-list-item .btn-buy:hover{
    border:1px solid #f39800;
    background-color: transparent;
    color:#f39800;
}
.bottom-pagination{
    margin-top:75px !important;
    margin-bottom:0 !important;

}
.bottom-navigation a{
    color:black;
}
.bottom-navigation a.active{
    text-decoration: underline;
    color:black !important;
    font-weight:bold;
}
.ikonka-kategorie{
    margin-bottom: 0 !important;
}

.scroll-down-footer{
    padding-left: 3.7%;
    padding-right: 5.2%;
}
.scroll-down-footer img{
    width:55px;
    height: auto;
}

.scroll-down-footer-item{
    border: 1px solid rgba(109, 187, 219, .9);
    padding:0 !important;
    border-bottom:0;
}
.btn-footer-scroll-down{
    height:100%;
    width:100%;
    font-size:20px !important;
    text-align: center;
    color:black;
    font-weight:bold;
    background-color:#cdd515;
    padding-bottom: 3.4% !important;
    padding-top:5% !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0 !important;
}

.banner-kategorie img:nth-child(1){
    margin-top:1%;
}
@media all and (max-width: 993px){
    .scroll-down-menu-item h4{
        font-size: 10px !important;
    }
}

@media all and (max-width: 401px){
    .input-description, .select-filter{
        display: block;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }
}

.selection{
    background-color:rgba(0,0,0,.04);
    padding-top:1%;
    padding-bottom: 1%;
    margin-top:1%;
    margin-bottom: 2.5%;
}
.cz-language a, .sk-language a{
    color:black !important;
}
.cz-language.active a, .sk-language.active a{
    color: #cdd515 !important;
}
@media all and (max-width:322px){
    .cart{
        padding-left:0 !important;
    }
}

@media all and (max-width:985px){
    .viac-tlacitko2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .viac-tlacitko2 a{
        font-size:20px;
    }
    .gsi-block-text2{
        font-size:20px;
    }
    .gsi-block-nadpis{
        font-size: 25px;
        text-align: center

    }
    .menu-navbar{
        width:auto;
    }
}

@media all and (max-width:451px){
    .viac-tlacitko2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .viac-tlacitko2 a{
        font-size:small;
    }
    .gsi-block-text2{
        font-size:small;
    }
    .gsi-block-nadpis{
        font-size: medium;
        text-align: center

    }
}

.blog-container .row{
    padding-left: 15%;
    padding-right: 15%;
}
@media all and (max-width:985px){
    .blog-container{
        width: auto !important;
    }

    .blog-container .row{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}

@media all and (max-width:770px){
    .blog-container .row{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.pridatdokosika{
    border:1px solid #f39800;
}
.pridatdokosika:hover{
    background-color:transparent !important;
    border:1px solid #f39800;

}
.pridatdokosika:hover a{
    color:#f39800 !important;
    text-decoration: none !important;
}

footer a:hover{
    color:#f39800 !important;
    text-decoration: none !important;
}

.text-article{
    margin-left: 40px;
    display: block;
    background-color: #6dbbdb;
    width: 400px;
    color: black;
    padding: 2.5%;
}
.read-more-blog{
    border:1px solid #f39800;
    cursor:pointer;
}

.read-more-blog:hover{
    border:1px solid #f39800;
    background-color: transparent;

}
.read-more-blog:hover a{
    color: #f39800;
    cursor:pointer;
}
.read-more-blog a:hover{
    color: #f39800;
    text-decoration: none;
}

.galeria{
    padding-left:80px;
}
.fb-xfbml-parse-ignore:hover, .wishlist-text-right a:hover{
    color:#f39800;
    text-decoration: none;
}
.main-image{
    width: 90%;
    z-index:-1000
}
.galery-image{
    width:21.8%
}
.modal-image{
    width:100%
}
.modal-header{
    border-bottom:0 !important;
}
.hide{
    display: block !important;
}
.center-image{
    width:200px;
    height:auto;
}
.top-produkty-viac{
    border: 1px solid #6dbbdb;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0,0,0,.3);
}
.top-produkty-viac a{
    cursor: pointer;
}
.top-produkty-viac:hover{
    background-color: transparent;
}
.top-produkty-viac:hover a{
    color:#6dbbdb
}
.top-produkty-viac a:hover{
    color:#6dbbdb;
    text-decoration: none;
}
.filter-menu-content{
    margin-top:2%;
}

.filter-menu-content a{
    color:black;
}

.filter-menu-content a:hover{
    color:#f39800;
    text-decoration: none;
}
.summary{
    width:85%;
}
.summary tr td{
    width:33.3%;
    padding-top:1%;
    padding-bottom:1%;
}
.summary tr{

    border-bottom:0 !important;
}
.summary .mail{
    color: rgba(0,0,0,.4);
    margin-left: 4%;
}
.summary .price{
    color:#f39800;
    font-size:25px;
    font-family:'Exo Bold', sans-serif;
    width:100%;
    text-align: right;
}
.summary .subprice{
    color:black;
    font-size:15px;
    width:100%;
    text-align: right;
    display:block;
    margin-left: auto;
    margin-right: auto
}
.jumbotron-cart{
    background-color: #cdd515;
    width:100%;
    margin-top:5%;
}
.jumbotron-cart .content{
    color:white;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-top:1.5%;
    padding-bottom:1.5%;
    font-size:20px
}

.legend{
    margin-bottom:5%;
    color:rgba(0,0,0,.4);
    font-size:10px;
}
.forget-passwrd{
    margin-top:5%;
}
.forget-passwrd a{
    color: black !important;
    text-decoration: underline;
    font-family: 'Exo Bold', sans-serif;
}
form .checkbox{
    margin-top:10%
}
.cart-title h2::before{
    border-bottom:0 !important;
}
.cart-title h2:after{
    border-bottom:0 !important;
}
.cart-title h3::before{
    border-bottom:0 !important;
}
.cart-title h3:after{
    border-bottom:0 !important;
}
.cart-title h3{
    text-align:left;
}

.registration-reason{
    color:#f39800;
}
.without-registration{
    display:block;
    margin-top:15%;
    color:black;
    text-decoration: underline;
}

.without-registration:hover{
    color:black;
}
.without-registration-content{
    display:none
}

.checkbox label, .radio label{
    width:100%;
}

.fourth_step .descrition, .fourth_step .content{
    color: black;
}
.search-bar input.search-input{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.more-products{
    cursor: pointer;
}

.more-products{
    border:1px solid rgba(109, 187, 219, 1) !important;
}

.more-products:hover{
    border:1px solid rgba(109, 187, 219, 1) !important;
    background-color: white !important;
    color:rgba(109, 187, 219, 1) !important;
}
.tab-pane.active{
    color:black !important;
}
.viac-tlacitko, .viac-tlacitko a{
    cursor:pointer;
}
.viac-tlacitko, .viac-tlacitko2{
    border:1px solid rgba(109, 187, 219, 1) !important;
    cursor: pointer;
}
.viac-tlacitko:hover, .viac-tlacitko2:hover{
    border:1px solid rgba(109, 187, 219, 1) !important;
    background-color: white !important;
}
.viac-tlacitko:hover a, .viac-tlacitko2:hover a{
    color:rgba(109, 187, 219, 1) !important;
}
.viac-tlacitko a:hover, .viac-tlacitko2 a:hover {
    color: rgba(109, 187, 219, 1) !important;
    text-decoration: none !important;
}
.tlacitko-banner,.tlacitko-text{
    border:1px solid #f39800;
    cursor: pointer;
}
.tlacitko-banner a,.tlacitko-text a{
    cursor: pointer;
}
.tlacitko-banner:hover,.tlacitko-text:hover{
    border:1px solid #f39800;
    background-color:white;
}
.tlacitko-banner:hover a, .tlacitko-text:hover a{
    color:#f39800;
    text-decoration: none;
}
@media all and (max-width:322px){
    .top-bar{
        padding-right: 0 !important;
    }
}

@media all and (max-width: 994px) and (min-width: 986px){
    .viac-tlacitko2{
        width:auto;
    }

}
@media all and (max-width:994px){

    .menu-navbar li{
        margin-right:0 !important;
    }
    .gsi-block-text2{
        padding-right:20%;
    }
    .znacky-ikonky-image{
        display: block !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
@media all and (max-width:994px) and (min-width:986px){
    .katalog-carousel .container{
        padding-left: 40px;
        padding-right: 35px;
    }
}
@media all and (max-width:768px) and (min-width: 700px){
    .blog-block{
        display: block;
        margin-left: 20%;
        margin-right: 20%;

    }
}
@media all and (max-width: 451px){
    .widgety2{
        width:100%;
    }
}

@media all and (max-width:768px) and (min-width: 700px){
    .col-md-4.text-banner.col-xs-12{
        width:50% !important;
    }
}
@media all and (max-width:923px) and (min-width: 770px){
    .hl-title h2:before{
        left:11.5%;
    }
    .hl-title h2:after{
        right:11.5%;
    }
}

.read_more{
    cursor: pointer;
}

.product-lightbox-control{
    position: absolute;
    width:40px;
    height:40px;
    top:35%;
    background-color: rgba(0,0,0,.4);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding: 1% 1.5%;
    z-index: 10000;
    cursor: pointer;
}
.product-lightbox-control i{
    color:white;
}

.product-lightbox-control.lightbox-left{
    left: 20%;
}

.product-lightbox-control.lightbox-right{
    right: 15%;
}
.parameter-click{
    border: 1px solid white;
    color: black;
    cursor: pointer;
}
.parameter-click:hover{
    text-decoration: none;
}

.parameter-click.active{
    border:1px solid black;
}
.parameter-click.active img{
    transform: scale(1.3);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
.modal{
    z-index:1000000 !important;
}


@media all and (max-width:769px) and (min-width:700px) {
    .bs-col5.widgety2 {
        width: 50%;
        height: 200px;
    }

    .bs-col5.widgety2 h4 {
        font-size: 27.5px !important;
    }

    .bs-col5.widgety2 ul li, .bs-col5.widgety2 p {
        font-size: 18px !important;
    }

    .bs-col5.widgety2:nth-child(5) {
        width: 100%;
    }
}

.blog-checkbox-description{

    font-family: 'Exo', sans-serif;
    text-align: center;
    padding-left:5%;
    padding-right:5%;
}
.blog-navigation{
    float:right
}
.blog-navigation a{
    color:black;
    cursor: pointer;
}
.blog-navigation a.active{
    text-decoration: underline;
    color:black !important;
    font-family:'Exo Bold', sans-serif;
}
.blog-row .blog-block{
    max-width:50% !important;
}
.blog-row .thumbnail-blog img{
    max-width:100%;
}
.blog-row .description-blog{
    max-width:100%;
}
.blog-row .viac-tlacitko2{
    width:100% !important;
}
.blog-row .blog-navigation{
    margin-top:15%;
}

.our-brands .hl-title h2::before{
    width: 50%;
    content: '';
    position: absolute;
    left: 20%;
    top: 30px;
    border-bottom: 2px solid #f39800;
}
.our-brands .hl-title h2 span{
    position: relative;
    top: 13px;
    padding: 0 10px;
    color: #f39800;
    font-family: Exo Bold, sans-serif;
    background-color: white;
}
.nase-znacky-top-produkty{
     margin-top:5%;
}
.nase-znacky-top-produkty .carousel-control.right{

}

.category-stuff .carousel .col-md-3{
    padding:0.75%;
}
.category-stuff .product-item{
    max-width:100% !important;
    width:100% !important;
}
.category3-title, .category3-title h3{
    margin-top: 0 !important;
    padding-bottom: 10px;
}
.selection .col-md-3{
    text-align: center;
}

.cart .product_name, .cart .brand{
    font-family: 'Exo Bold', sans-serif;
    color:black;
}
.cart .remove{
    cursor: pointer;
    color: rgba(0,0,0,0.3) !important;
    text-decoration: underline;
    float: right;
}
.cart td img{
    width:85% !important;
    border: 1px solid rgba(0,0,0,.3);
    margin: 7%
}
.cart .subtitle-cart h4:before, .cart .subtitle-cart h4:after{
    display: none !important;
}
.third_step h4{
    margin-left:5%
}
.third_step .image-box img:nth-child(1){
    margin-left:10%
}
.scroll-down-menu-item:hover, .scroll-down-footer img:hover{
    cursor: pointer;
}
label {
    font-weight: normal;
}
.register-button {
    padding: 5% 7.5%;
    width: 160px;
}
.login-cart{
   border: 2px solid #d8d8d8;
margin-left: 1%;
width: 45% !important;
margin-right: 2.5%;
padding-bottom: 3%;
}
.register-cart{
    border: 2px solid #d8d8d8;
    width: 45% !important;
}
.login-cart .input-group, .register-cart .input-group{
    width: 100%;
}

.copyright-logo{
    cursor: pointer
}
table .input_description, table .description{

    font-family: 'Exo Bold',sans-serif;
    color:black;
}

.third_step .radio{
    margin-bottom: 5%
}
.product-list .col-md-3{
    padding: 0;
    padding-left: 2%;
}
.mini-container{
    padding-left:2%;
    padding-right:2%;
}
.ikonka-kategorie:first-child {
   
    margin-left: 0%;
   
}