body{background:#ffffff;font-family:'Open Sans', arial, sans-serif;min-width:320px;font-size:20px;color:#9fc26e;overflow-x:hidden;}
header{background-color:#ffffff;width:100%;height:163px;padding-top:41px;margin:0 auto;position:fixed;z-index:100000;-webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.5);-moz-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.5);box-shadow:0px 0px 12px 0px rgba(0,0,0,0.5);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
header #logo{float:left;}
header #menu{float:right;}
header #menu li{font-size:18px;font-weight:300;list-style:none;display:inline-block;}
header #menu li a{padding:30px 15px;display:block;}
header #menu li span{padding-left:15px;display:block;}
header #menu li img{margin-top:-3px;float:left;padding-right:5px;}
header #menu-button{display:none;}
#main{padding-top:163px;}
.content{max-width:1078px;margin:0 auto;}
.oceneni{background:url(../images/oceneni.png) center center no-repeat;text-align:center;padding:30px;}
.oceneni .box{max-width:714px;margin:0 auto;}
.oceneni img{width:271px;display:block;float:left;margin:0 43px;}
.info{background:url(../images/info.png) center center no-repeat;min-height:570px;font-size:28px;line-height:57px;text-align:center;padding-top:127px;text-transform:uppercase;}
.info .dark{display:block;}
.dark{color:#466d1c;}
#clenstvi{text-align:center;}
#clenstvi img{padding:40px;}
#clenstvi img:first-of-type{padding-top:20px;}
#slider{background-position:center center;width:100%;height:489px;background-size:cover;margin-bottom:10px;}
#gallery{margin:0 auto;display:table;margin:20px 0;}
#gallery a{display:block;position:relative;float:left;width:33.33333333%;padding:8px 0.66666666665%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#gallery span{background-color:rgba(255,255,255,0.8);color:#466e1c;position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;padding-top:31%;text-align:center;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
#gallery a:hover span{opacity:1;}
#gallery img{display:block;margin:0 auto;}
#contact{background:url(../images/contact.png) center top no-repeat;color:#466e1c;}
#contact .dark{color:#456f1b;}
#contact-img{background:url(../images/kontakt.jpg) center center no-repeat;background-size:cover;height:464px;}
.contact{width:33%;text-align:left;margin:0;float:left;}
.contact ul{padding-bottom:22px;}
.contact ul li{list-style:none;}
.contact-form{width:67%;float:right;}
#podporujeme{text-align:center;}
#podporujeme img{padding:40px;}
.nadpis{padding:40px 0 32px 0;}
.clear{clear:both;}
h1{display:none;font-size:0;height:0;width:0;}
h2{background-color:#9fc26e;color:#ffffff;min-height:95px;padding:6px;font-size:30px;font-weight:300;text-align:center;line-height:92px;margin-bottom:11px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
h2.twolines{line-height:40px;padding-top:6px;}
h2.twolines span{max-width:650px;display:block;margin:0 auto;}
h3{background-color:#9fc26e;color:#ffffff;min-height:43px;font-size:20px;font-weight:300;text-align:center;line-height:41px;}
*{margin:0;padding:0;}
a{color:#9fc26e;text-decoration:none}
img{max-width:100%;}
footer{background:url(../images/footer.png) top center no-repeat;max-width:1078px;height:37px;font-size:15px;color:#9fc26e;text-align:center;padding-top:245px;margin:0 auto;}

.lslide.active{display:block !important;}
textarea{height:175px;}
.input{width:100%;border:1px solid #476e1d;padding:5px;margin:4px 0;display:block;font-family:'Open Sans', arial, sans-serif;color:#476e1d;font-style:italic;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.button{background-color:#476e1b;font-family:'Open Sans', arial, sans-serif;font-size:16px;color:#ffffff;border:0 none transparent;float:right;padding:5px 18px;}

::-webkit-input-placeholder{color:#476e1d;}
:-moz-placeholder{color:#476e1d;opacity:1;}
::-moz-placeholder{color:#476e1d;opacity:1;}
:-ms-input-placeholder{color:#476e1d;}
.oceneni:after {content: '';display: block;clear: both;}
.clearfix #image-gallery, .clearfix #image-gallery .lslide > div{background-position:center center;}

@media only screen and (max-width: 1199px){
  header{padding-left:20px;padding-right:20px;}
  #contact{padding:0 10px;}
}

@media only screen and (max-width: 1100px){
  header{position:static;}
  #main{padding-top:0;}
  header #logo{max-width:80%;}
  header #menu{height:auto;background-color:#9fc26e;font-size:17px;color:#ffffff;padding:0;border-top:2px solid #466d1c;border-bottom:1px solid #466d1c;margin:0;margin-top:53px;display:none;position:absolute;top:110px;left:0;right:0;z-index:2;}
  header #menu li{background-image:none;padding:0;display:block;float:none;}
  header #menu li a{height:40px;border-bottom:1px solid #466d1c;text-align:left;font-size:16px;font-weight:400;color:#ffffff;line-height:40px;padding:0 10px;}
  header #menu li a:hover{color:#ffffff;}
  header #menu li span{display:none;}
  header #menu::after{display:none;}
  header #menu-button{cursor:pointer;background-color:transparent;color:#9fc26e;font-size:30px;margin-top:15px;width:auto;padding:5px 15px;display:block;float:right;border:2px solid #9fc26e;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
  header #menu-button:hover{border-color:#466d1c;color:#466d1c;}
}

@media only screen and (max-width: 949px){
  .contact, .contact-form{width:100%;float:none;padding:20px 0;text-align:center !important;}
}

@media only screen and (max-width: 749px){
  .info{padding:20px 0;min-height:auto;}
  .oceneni img{margin:10px auto;float:none;}
  #gallery a{width:50%;}
}

@media only screen and (max-width: 699px){
  h2, .info{font-size:25px;}
  .info{text-align:left;text-transform:capitalize;padding:20px 10px;line-height:47px;}
  .info img{height:25px;}
}

@media only screen and (max-width: 549px){
  h2, .info{font-size:20px;}
  .info{line-height:37px;}
  .info img{height:20px;}
  #slider, #contact-img, .clearfix #image-gallery, .clearfix #image-gallery .lslide > div{height:550px !important;}
}

@media only screen and (max-width: 524px){
  #gallery{margin:0 auto;}
  #gallery a{width:100%;padding:0%;float:none;margin:0 auto 10px auto;}
  #gallery img{margin:0 auto;}
  #slider, #contact-img, .clearfix #image-gallery, .clearfix #image-gallery .lslide > div{height:450px !important;}
}

@media only screen and (max-width: 424px){
  h2{font-size:18px;}
  header{height:140px;}
  header #menu-button{padding:2px 10px;margin-top:8px;}
  header #menu{margin-top:30px;}
  #slider, #contact-img, .clearfix #image-gallery, .clearfix #image-gallery .lslide > div{height:350px !important;}
}

@media only screen and (max-width: 376px){
  h2.res{line-height:40px;padding-top:6px;}
}
